
*.txt

*.png

*.data

*.o

*.d

*.mk

*.xml

Esterel_Game_1/\.cproject

Esterel_Game_1/\.project

Esterel_game_2/\.cproject

Esterel_game_2/\.project

Esterel_game_2/playgame\.xes

Esterel_game_2/playgame\.exe

Esterel_Game_Layers/\.cproject

Esterel_Game_Layers/\.project

Esterel_Game_Layers/playgame\.exe

Esterel_Game_Layers/playgame\.xes

*.pyc

\.cproject

\.project

simple-ev-charging/Debug/

Debug/

*.exe

*.xes

adder/\.vscode/settings\.json

*.vscode